
  <div class="box">
    <h1 class="head">
      <img src="https://api.iconify.design/simple-icons/scribd.svg" class="icon" alt="Logo">
      Syncord
    </h1>

    <div class="card">
      <p class="text">Welcome to <strong>Syncord</strong>, the ultimate chat app for connecting and sharing seamlessly.</p>
      <a href="/chats">
        <button class="btn">
          <img src="https://api.iconify.design/material-symbols/chat.svg" alt="Chat Icon">
          Start Chatting
        </button>
      </a>
    </div>
  </div>

